.bannerSlide{
    position: relative;
    display: flex;
    height: 15vh;
    width:100%;
    margin-bottom: 1%;
}

.BannerDiv{
    display: flex;
    min-width: 200%; /* +20% si on ajoute + de de 5 images (Actuellement 10 images)*/
    animation: slide 60s infinite linear;
}
.bannerSlide:hover .BannerDiv{
    animation-play-state: paused;
}
.bannerImage{
    position: relative;
    min-width: 20vw;
    height: 100%;
    background-image: var(--url);
    background-size: cover;
    background-position: center;
}

.bannerImage::before{
    content:"";
    position: absolute;
    background-image: var(--url);
    background-size: cover;
    background-position: center;
    top:-5%;
    width: 100%;
    height: 110%;
    z-index: -1;
    filter: blur(8px); 
}


.bannerSlide::before{
    content: "";
    position: absolute;
    left: 0;
    width: 5%;
    top: -10%;
    height: 120%;
    filter: blur(3px);
    z-index: 1;
    background: linear-gradient(to right, white, transparent);
}

.bannerSlide::after{
    content: "";
    position: absolute;
    right: -1%;
    width: 5%;
    top: -10%;
    height: 120%;
    filter: blur(3px);
    z-index: 1;
    background: linear-gradient(to left, white, transparent);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.StoryDiv{
    height: 85vh;
    width: 100%;
    background-color: lightblue;
    position: relative;
    min-width: 100%;
}

.StoryDiv::before{
    content:"";
    position: absolute;
    background-image: var(--BG);
    background-size: cover;
    background-position: center;
    top:-2.5%;
    left: 0px;
    width: 100%;
    height: 105%;
    z-index: -1;
    filter: blur(10px); 
}

.allLostBelt{
    display: flex;
    transition:all 0.3s ease-in-out
}

.BGdiv{
    width: 100%;
    height: 100%;
    position: relative;  
    background-image: var(--BG);
    background-size: cover;
    background-position: center; 
}

.StoryLogo,
.StoryBG,
.StoryCharacter{
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.StoryLogo{
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    height: fit-content;
}

.StoryBG{
    filter: brightness(1);
}

.StoryCharacter{
    width: auto;
    height: 90%;
    bottom: 0;
    right: 2%;
    filter: drop-shadow(0px 0px 10px #8bcaf1);
}

.BannerStoryDiv{
    width: 100%;
    height: 3vh;
    border-top: 5px solid #45536c ;
    border-bottom: 5px solid #45536c;
    background-color: #c7ced78a;
    background-image: 
    linear-gradient(45deg,
    transparent 40%,
    #bdc7cf 40%, #bdc7cf 60%,
    transparent 60%),
    linear-gradient(-45deg,
    transparent 40%,
    #bdc7cf 40%, #bdc7cf 60%,
    transparent 60%);
    background-size: 3% 100%;      
}

@keyframes bannerMove{
    from{
        background-position-x: 0%;
    }

    to{
        background-position-x: 100%;
    }
}

.leftButtonStory,
.rightButtonStory{
    position: absolute;
    font-weight: bold;
    width: 5vh;
    height: 5vh;
    border: 1px solid goldenrod;
    background: linear-gradient(to top, rgb(202, 199, 199), white);
    bottom: 10%;
    z-index: 1;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.leftButtonStory:hover,
.rightButtonStory:hover{
    cursor: pointer;
    transform: translate(-50%) rotate(45deg) scale(1.1);
}

.leftButtonStory{
    left: 45%;
}

.rightButtonStory{
    left: 55%
}


.leftButtonStory::before{
    content:"<";
    font-size: 2em;
    color: goldenrod;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%) rotate(-45deg) ;
    text-shadow: 0px 0px 2px rgba(0, 0, 255, 0.589);
    transition: all 0.3s ease-in-out;
}

.rightButtonStory::before{
    content:">";
    font-size: 2em;
    color: goldenrod;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    left: 50%;
    top: 50%;
    text-shadow: 0px 0px 2px rgba(0, 0, 255, 0.589);
    transition: all 0.3s ease-in-out;
}

.leftButtonStory:hover::before {
    font-size: 2.3em;
    left: 40%;
    top: 60%;
}

.rightButtonStory:hover::before{
    font-size: 2.3em;
    left: 60%;
    top: 40%;
}